* {
  text-align: center;
  font-family: sans-serif;
}

body {
  background: rgba(112,120,112,0.2);
}

h1 {
  font-size: 30px;
  color: black;
  margin: 0 auto;
}

p{
  margin: 10px 0 20px 0;
  color: grey;
}

main {
  
  width: 50%;
  margin: 0 auto;
  text-align: center;

}

.box {
  display: inline-block;
  width: calc((100% - 70px)/3);
  margin: 10px;
  height: 100px;
  color: white;
  font-size:20px;
  word-break: break-all;
  padding: 100px 0 30px 0;
}

.seeall {
  display: block;
}

.sanfrancisco {
  background: url("../img/san-francisco.jpg");
  background-size: cover;
}

.sanfrancisco2 {
  background: url("../img/san-francisco-2.jpg");
  background-size: cover;
}

.newyork {
  background: url("../img/new-york.jpg");
  background-size: cover;
}

.london {
  background: url("../img/london.jpg");
  background-size: cover;
}

.napa {
  background: url("../img/napa.jpg");
  background-size: cover;
}

.sonoma {
  background: url("../img/sonoma.jpg");
  background-size: cover;
}

button {
  color: grey;
  text-align: center;
  margin: 20px auto;
  height: 30px;
  width: 30%;
  font-weight: bold;
  background: white;
  border: 1.5px rgba(112,120,112,0.4) solid;
}

@media (max-width: 600px) {
  main {
    width: 90%;
  }

  .box {
    width: 100%;
    margin: 10px auto;
  }
}
